*{
	margin: 0;
	padding: 0;
}
 
ul li a{
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: orangered;
	font-family: cursive;
	margin: 2%;
	padding: 2%;
}

.menu{
	display: flex;
	flex-flow: row ;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	cursor: pointer;	
}

.home{
	color: blue;
	

}
.etiqueta{
	width:350px;
}

.tabaquiles{

	color: darkviolet;
	transform: rotate(-3deg)
}
.tabaquiles-titulo{
	font-size: 50px;
	text-decoration: underline;
	text-align: center;
	color: darkviolet;
	font-family: cursive;
	

}

.tabaquiles li{
	font-size: 40px;
	text-transform: uppercase;
	color: darkviolet;
}
.tabaquiles p{
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 20px;
	cursor: pointer;
}
.tabaquiles select{
	font-size: 20px;
}

.frutales{

	color: green;
	transform: rotate(3deg)
}
.frutales-titulo{
	font-size: 50px;
	text-decoration: underline;
	text-align: center;
	color: green;
	font-family: cursive;
}

.frutales li {
	font-size: 40px;
	text-transform: uppercase;
	color: green;
}

.frutales p{
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 20px;
}
.frutales select{
	font-size: 20px;
}

.mentholados{

	color: lightblue;
	transform: rotate(-3deg)
}

.mentholados-titulo{
	font-size: 50px;
	text-decoration: underline;
	text-align: center;
	color: lightblue;
	font-family: cursive;
}

.mentholados li {
	font-size: 40px;
	text-transform: uppercase;
	color: lightblue;
}

.mentholados p{
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 20px;
}

.frutales select{
	font-size: 20px;
}

.postres-cremas{
	color: darkred;
	transform: rotate(3deg)

}
.postres-cremas-titulo{
	font-size: 50px;
	text-decoration: underline;
	text-align: center;
	color: darkred;
	font-family: cursive;
}
.postres-cremas li {
	font-size: 40px;
	text-transform: uppercase;
	color: darkred;
	}

.postres-cremas p{
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 20px;
}

.postres-cremas select{
	font-size: 20px;
	
}

.equipos-y-consumibles{
	color:darkcyan;

}

.equipos-y-consumibles-titulo{
	font-size: 50px;
	text-decoration: underline;
	text-align: center;
	color: darkcyan;
	font-family: cursive;
}

.equipos-y-consumibles li{
	font-size: 40px;
	text-transform: uppercase;
	color: darkcyan;

}

.equipos-y-consumibles p{
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 20px;
}

.equipos-y-consumibles select{
	font-size: 20px;
}
.contacto-pag{
	font-size: 40px;
	text-decoration: underline;
	text-align: center;
	color: orangered;
	font-family: cursive;
	text-transform: uppercase;

}

.contacto-horario {
	font-size: 20px;
	text-decoration: underline;
	text-align: left;
	color: orangered;
	font-family: cursive;
	text-transform: uppercase;
}

.imagen-contacto{
	width: 350px;
	display: flex;
	justify-content: center;
}

.premium {
	font-size: 50px;
	text-transform: uppercase;
	line-height: 50px;
	font-family: serif;
	font-weight: 1000;
	color:darkslateblue;
	background-image: radial-gradient(rgb(221, 230, 163),rgb(224, 152, 29));
	display: flex;
	justify-content: center;
	
}


.titulo{
	color: orange;
	font-size: 80px;
	text-transform: uppercase;
	line-height: 70px;
	font-family: fantasy;
	background-image: radial-gradient(red,black);
	display: flex;
	justify-content: center;
	animation-name: animacion;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes animacion {
	0% {
		transform: translateX(-300px) ;
	}
	25% {
		color: yellow;
	}
	50% {color: orangered;
	}
	75%{
		color: red;
	}
	100% {
	transform: translateX(300px) ;

	}
}

.piedepag{
	color: darkviolet;
	font-size: 15px;
	text-transform: uppercase;
	font-family: monospace;
	text-align: right;
			
}
.imagen{
	height: 150px;
	width: 300px;
	transform: rotate(180deg);
	cursor: pointer;
	
}

.imagen-portada{
	height: 600px;
	transform: skew(5deg,2deg);
	
	
}
.mapa{
	display: flex;
	height: 100px;
	width: 100px;

}
.sectionportada{
	display: grid;
	grid-template-columns: 600px 600px;
	
}

body{
	display: flex;
	height: 600px;
	flex-direction: column;
	text-align: center;
	background-image: radial-gradient(orange yellow);
}


.grid{
	display: grid;
	grid-template-areas: 
	"  imagen "
	"imagen-portada imagen-portada imagen-portada"
	"imagen-portada imagen-portada imagen-portada"
	"imagen-portada imagen-portada imagen-portada";
	grid-template-rows: 100 px 1 fr 1 fr 75 px;
	grid-template-columns: 20% auto 15 %;
}

.boton{
	border: none;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	background-color: rgba(155, 146, 146, 0.807);
	border-bottom: 3px solid black;
	transition: padding 0.5s;

}

.boton:hover {
	padding: 15px;
	background-color: orangered;
	color: white;

}
.imagen:hover {
	transform: rotate(360deg);
}