$color: (
    colorPrimario:rgb(221, 93, 19),
    colorSecundario:rgb(133, 147, 6),
    colorT: rgb(200, 137, 251),
    colorM:rgb(14, 175, 229),
    colorC:rgb(237, 56, 11),  
);

$tamano: (
   heightTitulo: 50px,
   heightTituloIndex: 100px,
)

