
$font-stack: Helvetica, sans-serif;
$primary-color: red;



*{
	margin: 0;
	padding: 0;
}
 
ul{
  li{
    a{
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: orangered;
      font-family: cursive;
      margin: 2%;
      padding: 2%;
    }
  } 
}


.menu{
	display: flex;
	flex-flow: row ;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	cursor: pointer;	
}

.home{
	color: blue;
	

}
.etiqueta{
	width:350px;
}

.tabaquiles{

	color: darkviolet;
	transform: rotate(-3deg)
}
.tabaquiles-titulo{
	@extend %tituloDefault;
	color: darkviolet;

	

}

.tabaquiles li{
	font-size: 40px;
	text-transform: uppercase;
	color: darkviolet;
}
.tabaquiles p{
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 20px;
	cursor: pointer;
}
.tabaquiles select{
	font-size: 20px;
}

.frutales{

	color: green;
	transform: rotate(3deg)
}
.frutales-titulo{
	@extend %tituloDefault;
	color: green;
	
}

.frutales li {
	font-size: 40px;
	text-transform: uppercase;
	color: green;
}

.frutales p{
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 20px;
}
.frutales select{
	font-size: 20px;
}

.mentholados{

	color: lightblue;
	transform: rotate(-3deg)
}

.mentholados-titulo{
	@extend %tituloDefault;
	color: lightblue;

}

.mentholados li {
	font-size: 40px;
	text-transform: uppercase;
	color: lightblue;
}

.mentholados p{
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 20px;
}

.frutales select{
	font-size: 20px;
}

.postres-cremas{
	color: darkred;
	transform: rotate(3deg)

}
.postres-cremas-titulo{
	@extend %tituloDefault;
	color: darkred;
}

.postres-cremas li {
	font-size: 40px;
	text-transform: uppercase;
	color: darkred;
	}

.postres-cremas p{
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 20px;
}

.postres-cremas select{
	font-size: 20px;
	
}

.equipos-y-consumibles{
	color:darkcyan;

}

.equipos-y-consumibles-titulo{
	@extend %tituloDefault;
	color: darkcyan;
	
}

.equipos-y-consumibles li{
	font-size: 40px;
	text-transform: uppercase;
	color: darkcyan;

}

.equipos-y-consumibles p{
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 20px;
}

.equipos-y-consumibles select{
	font-size: 20px;
}
.contacto-pag{
	font-size: 40px;
	text-decoration: underline;
	text-align: center;
	color: orangered;
	font-family: cursive;
	text-transform: uppercase;

}

.contacto-horario {
	font-size: 20px;
	text-decoration: underline;
	text-align: left;
	color: orangered;
	font-family: cursive;
	text-transform: uppercase;
}

.imagen-contacto{
	width: 350px;
	display: flex;
	justify-content: center;
}

.premium {
	font-size: 50px;
	text-transform: uppercase;
	line-height: 50px;
	font-family: serif;
	font-weight: 1000;
	color:darkslateblue;
	background-image: radial-gradient(rgb(221, 230, 163),rgb(224, 152, 29));
	display: flex;
	justify-content: center;
	
}


.titulo{
	color: orange;
	font-size: 80px;
	text-transform: uppercase;
	line-height: 70px;
	font-family: fantasy;
	display: flex;
	justify-content: center;
	// animation-name: animacion;
	// animation-duration: 10s;
	// animation-iteration-count: infinite;
}

// @keyframes animacion {
// 	0% {
// 		transform: translateX(-300px) ;
// 	}
// 	25% {
// 		color: yellow;
// 	}
// 	50% {color: orangered;
// 	}
// 	75%{
// 		color: red;
// 	}
// 	100% {
// 	transform: translateX(300px) ;

// 	}
// }
header{
    div{
      .titulo{
        line-height: 145px;
        background-color:map-get($color,colorT) ;
		height: map-get($tamano,heightTituloIndex)
       	 
	 }

    }
  }