* {
  margin: 0;
  padding: 0;
}

ul li a {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: orangered;
  font-family: cursive;
  margin: 2%;
  padding: 2%;
}

.menu {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  cursor: pointer;
}

.home {
  color: blue;
}

.etiqueta {
  width: 350px;
}

.tabaquiles {
  color: darkviolet;
  transform: rotate(-3deg);
}

.tabaquiles-titulo {
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  color: darkviolet;
  font-family: cursive;
}

.tabaquiles li {
  font-size: 40px;
  text-transform: uppercase;
  color: darkviolet;
}

.tabaquiles p {
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
}

.tabaquiles select {
  font-size: 20px;
}

.frutales {
  color: green;
  transform: rotate(3deg);
}

.frutales-titulo {
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  color: green;
  font-family: cursive;
}

.frutales li {
  font-size: 40px;
  text-transform: uppercase;
  color: green;
}

.frutales p {
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  font-size: 20px;
}

.frutales select {
  font-size: 20px;
}

.mentholados {
  color: lightblue;
  transform: rotate(-3deg);
}

.mentholados-titulo {
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  color: lightblue;
  font-family: cursive;
}

.mentholados li {
  font-size: 40px;
  text-transform: uppercase;
  color: lightblue;
}

.mentholados p {
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  font-size: 20px;
}

.frutales select {
  font-size: 20px;
}

.postres-cremas {
  color: darkred;
  transform: rotate(3deg);
}

.postres-cremas-titulo {
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  color: darkred;
  font-family: cursive;
}

.postres-cremas li {
  font-size: 40px;
  text-transform: uppercase;
  color: darkred;
}

.postres-cremas p {
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  font-size: 20px;
}

.postres-cremas select {
  font-size: 20px;
}

.equipos-y-consumibles {
  color: darkcyan;
}

.equipos-y-consumibles-titulo {
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  color: darkcyan;
  font-family: cursive;
}

.equipos-y-consumibles li {
  font-size: 40px;
  text-transform: uppercase;
  color: darkcyan;
}

.equipos-y-consumibles p {
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  font-size: 20px;
}

.equipos-y-consumibles select {
  font-size: 20px;
}

.contacto-pag {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  color: orangered;
  font-family: cursive;
  text-transform: uppercase;
}

.contacto-horario {
  font-size: 20px;
  text-decoration: underline;
  text-align: left;
  color: orangered;
  font-family: cursive;
  text-transform: uppercase;
}

.imagen-contacto {
  width: 350px;
  display: flex;
  justify-content: center;
}

.premium {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 50px;
  font-family: serif;
  font-weight: 1000;
  color: darkslateblue;
  background-image: radial-gradient(rgb(221, 230, 163), rgb(224, 152, 29));
  display: flex;
  justify-content: center;
}

.titulo {
  color: orange;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 70px;
  font-family: fantasy;
  display: flex;
  justify-content: center;
}

header div .titulo {
  line-height: 145px;
  height: 100px;
  background-color: aqua;
}/*# sourceMappingURL=partials2.css.map */